.content-area {
  border: 1px solid black;
  margin-top: 10px;
  padding: 10px;
  background-color: RED;
}

.toast-show-hide {
  transition: all linear 0.5s;
}
.toast-show-hide.ng-hide {
  opacity: 0;
}
