<div>
  <div>

    <table class="charbags">
      <tr>
        <th class="charbagtablehdr">Date</th>
        <th class="charbags">Charity</th>
        <th class="charbags">Number of Bags</th>
        <th class="charbags">&nbsp;</th>
      </tr>
      <tr ng-repeat="trip in donationTrips">
        <td ng-class-odd="'altRow'">
          <span class="input-group-btn">
          <input type="text" class="form-control" uib-datepicker-popup="'M!/d!/yyyy'"
                  ng-model="trip.date" is-open="cbpopup1.opened" close-text="Close" />
          <button type="button" class="btn btn-default" ng-click="cbopen1()">
               <i class="glyphicon glyphicon-calendar"></i></button>
          </span></td>
        <td ng-class-odd="'altRow'">
          <input ng-model="trip.charity">
        </td>
        <td ng-class-odd="'altRow'">
          <input ng-model="trip.bags">
        </td>
        <td ng-class-odd="'altRow'">
          <button ng-hide="trip.added" ng-click="addTrip(trip)">Add</button>
        </td>
      </tr>
    </table>
  </div>

  <button ng-click="calculate()">Submit</button>

  <pre class="code">{{output}}</pre>

  <div class="report" id="report"></div>
</div>
