
  <style>
  .char-report table {
    clear: left;
     border-collapse: collapse;
     border: 2px solid #444;
     width: 500px;
     margin-left: 25px;
  }
  .char-report th {
    border: 2px solid #666;
    background: CADETBLUE;

    padding-right: 20px;
    padding-left: 20px;
    text-align: center;

  }
  .char-report td{
    border: 2px solid #666;
  }
  .char-report .total {
     font-weight: bold;
     text-align: right;
  }
  @media screen {
    .print-vis {
      display: none;
    }
    .page-break {
       display: none;
    }
  }
  @media print {
    /* Style rules */
    .page-break {
       page-break-after: always;
    }
    .print-invis {
      display: none;
    }
    .print-vis {
      display: block;
    }
  }
  .char-report .tripDate {
  margin-left: 25px;
  }
  .char-report .tripDesc {
  text-align: right;
  }
  .char-report .itemCol {
  margin-left: 10px;
  }
  .char-report .costCol {
  text-align: center;
  }
  </style>
  <div class="char-report" ng-repeat="trip in $ctrl.tripRecords">
   <h1>Donation to {{trip.charity}} on {{trip.date | date : medium }}</h1>
   <div>

     <span class="tripDesc" ng-show="trip.bags"> {{trip.bags}} Bags of Clothing</span>
   </div>
   <hr />
   <table>
  <tr>
    <th class="itemCol">
      Item
    </th>
    <th>
      Cost
    </th>
  </tr>
  <tr ng-repeat="item in trip.items">
	  <td  class="itemCol">{{item.name}}</td><td class="costCol currency">{{item.price | currency}}</td>
  </tr>
	<tr><td>&nbsp;</td></tr>
  <tr ng-repeat="item in trip.others">
	  <td  class="itemCol">{{item.description + " (" + item.quantity + ")"}}</td><td class="costCol currency">{{item.totalValue | currency}}</td>
  </tr>
	<tr>
	<td><span class="total">Total</span></td><td class="currency">{{trip.grandTotal | currency}}</td>
	</tr>
   </table>
   <div class="page-break"></div>
</div>
<hr />
