table.charbags {
   border-collapse: collapse;
}
.charbags td {
  border: 2px solid #666;
}
th.charbags {
   border: 2px solid #666;
   background: CADETBLUE;
}
th.control {
  border: none;
  background: white;
}
.dateInput {
  float: left;

}
td.control {
  border: none;
}
.charbagtablehdr {
   border: 2px solid #666;
   background: CADETBLUE;
}
.charbags tr:hover {
  background: DARKKAHKI;
}
.charbags .altRow {
   background: lightgray;
}
.charbags .report {
   background: LIGHTGRAY;
}
