<div>
  <h1>{{selectedItem.title}}
     <a class="pull-right btn btn-success btn-lg" uib-tooltip="Toggle Starred list" ng-click="toggleStarred()">
            <span ng-class="starredIcon()"></span></a>

</h1>
  <div class="row">
    <div class="col-md-10">
      <span class="lead">Title:  <input class="fill" type="text" placeholder="Title" ng-model="selectedItem.title"></span>
      <p>ID:  {{selectedItem.id}}</p>
    </div>
    <div class="col-md-2">
      <img ng-show="selectedItem.image_url" ng-src="{{selectedItem.image_url}}" style="float: right;" /></a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <label for="author_inp">By: </label>
      <input id="author_inp" class="fill" type="text" placeholder="Author(s)" ng-model="selectedItem.author" >
    </div>
    <div class="col-md-4">
      <label for="CatPick">Category: </label>
      <select id="CatPick" ng-model="selectedCategory" ng-options="cat.name for cat in categories track by cat.id" ng-change='changeCategory()'>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <br /><br /><label for="inputdefault">Type:</label>

        <select id="sel1" ng-model="selectedItem.type_id"
            ng-options="typid as typname for (typname, typid) in docTypes" >
        </select>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <br /><label for="inputdefault">Publisher:</label>
        <span class="combobox_toggle" uib-dropdown on-toggle="toggled(open)">
    <input type="text" placeholder="Publisher" ng-model="selectedItem.publisher">
<a href id="simple-dropdown" uib-dropdown-toggle>
<span class="glyphicon glyphicon-chevron-down" style="border: 1px solid BLACK;"></span>
        </a>
        <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
          <li ng-repeat="choice in publishers">
            <a ng-click="selectedItem.publisher = choice">{{choice}}</a>
          </li>
        </ul>
        </span>
      </div>
    </div>
    <div class="col-md-2">
      <br /><label for="cc_inp"><span uib-tooltip="Copyright" class="glyphicon glyphicon-copyright-mark"></span></label>
      <input id="cc_inp" uib-tooltip="Copyright" type="text" placeholder="copyright" ng-model="selectedItem.copywrite">
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <a class="pull-right btn btn-primary" uib-tooltip="Populate from Google" ng-click="queryGoogle(selectedItem)">
          <span  class="glyphicon glyphicon-question-sign"></span>&nbsp;</a>
        <a class="pull-right btn btn-primary" uib-tooltip="Revert to last saved" ng-click="revert()">
          <span class="glyphicon glyphicon-repeat"></span>&nbsp;</a>
        <a class="pull-right btn btn-primary" uib-tooltip="Save to DB" ng-click="saveDoc()">
          <span class="glyphicon glyphicon-floppy-disk"></span>&nbsp;</a>
        <a class="pull-right btn btn-primary" uib-tooltip="Delete from DB" ng-click="deleteDoc()">
          <span  class="glyphicon glyphicon-trash"></span>&nbsp;</a>

      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <br />
      <label for="tags_inp">Tags: </label>
      <input id="tags_inp" class="fill" type="text" placeholder="tags" ng-model="selectedItem.tag_list">

    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <br />
      <label for="url_inp">URL: </label>
      <input id="url_inp" class="fill" type="text" placeholder="URL" ng-model="selectedItem.url">
      <a ng-href="{{ config.serverPath + selectedItem.url }}" target="_blank">Link: </a>&quot;{{ config.serverPath + selectedItem.url }}&quot;
      <br />
      <a ng-show="(selectedType == 'epub')" class="pull-right btn btn-primary" uib-tooltip="Save to DB" ng-click="readEpub( config.serverPath + selectedItem.url)">
        <span></span>Read Epub;</a>

    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <br />
      <label for="img_inp">Image URL: </label>
      <input id="img_inp" class="fill" type="text" placeholder="Image URL" ng-model="selectedItem.image_url">

    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <br />
      <label for="descriptionText">Description: </label>
      <textarea id="descriptionText" class="form-control" rows="10" ng-model="selectedItem.description"></textarea>


    </div>
  </div>
  <br />
  <pre class="code">{{ selectedItem | json }}</pre>

</div>
