<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <h2>Enter NEW Technical Books from a Stage Directory</h2>
    </div>
    <div class="col-lg-8" id="buttonBar">
      <a class="btn btn-primary" ui-sref='loadstage.default'>
        <span  class="glyphicon glyphicon-home"><span>&nbsp;</a>
          <ul style="list-style-type:none">
            <li>
      <a class="pull-right btn btn-primary" ng-click="commitChanges()">
        <span>Save Progress</span></a>

            </li>
            <li>
      <a class="pull-right btn btn-primary" ng-click="retrieveLocal()">
        <span>Retrieve Local</span></a>

            </li>
            <li>
      <a class="pull-right btn btn-primary" ng-click="flushLocal()">
        <span>Flush Local</span></a>
              
            </li>
          </ul>


        <a class="pull-right btn btn-primary" ng-click="newDoc()">
          <span>New...</span></a>
      <a class="pull-right btn btn-primary" ng-click="setStorageDir()">
        <span>Storage Directory</span></a>
      <a class="pull-right btn btn-primary" ng-click="saveStage()">
        <span>Save Stage</span></a>

    </div>
  </div>
  <div class="row">
    <div class="col-lg-4" style="height: 750px; overflow:scroll;">
      <a class="btn btn-primary" ng-click="getStageDocs()">
        <span>Retrieve Docs</span></a>
      <ul style="list-style-type:none">
        <li ng-repeat="doc in stageDocs">
          <a class="btn btn-primary btn-xs" ng-click="removeDoc($index)"><span class="glyphicon glyphicon-trash">
                    </span></a>
          <a ui-sref="loadstage.stageDocument({index: $index})">{{doc.title}}</a>
        </li>
      </ul>

    </div>

    <div class="col-lg-8">

      <p>Storage: {{storageDir}}</p>
      <p>Stage: {{stageDir}}</p>
      <div class="detail" ui-view></div>

    </div>
  </div>

</div>
