<subapp-navbar name="Load Books from Stage" state="loadstage">
  <subapp-nav-menu class="nav navbar-nav" name=File ">
  <subapp-nav class="nav navbar-nav " on-action="$ctrl.backup() ">Rmt Backup</subapp-nav>
  <subapp-nav class="nav navbar-nav " on-action="$ctrl.restore() ">Rmt Restore</subapp-nav>
  <subapp-nav class="nav navbar-nav " on-action="$ctrl.commitChanges() ">Local Save</subapp-nav>
  <subapp-nav class="nav navbar-nav " on-action="$ctrl.retrieveLocal() ">Local Load</subapp-nav>
  <subapp-nav class="nav navbar-nav " on-action="$ctrl.flushLocal() ">Local Flush</subapp-nav>
  </subapp-nav-menu>
  <subapp-nav class="nav navbar-nav" on-action="$ctrl.newDoc('')">New Document</subapp-nav>
  <subapp-nav class="nav navbar-nav ">Stage All</subapp-nav>
  <subapp-nav ng-show="($ctrl.selectedIndex>= 0)" class="nav navbar-nav" on-action="$ctrl.prevItem()">&lt;&lt; Previous</subapp-nav>
    <subapp-nav ng-show="($ctrl.selectedIndex >= 0)" class="nav navbar-nav" on-action="$ctrl.nextItem()">Next &gt;&gt;</subapp-nav>
</subapp-navbar>

<div class="view_container">
  <sidebar>
    <a class="btn btn-primary" ng-click="$ctrl.getStageDocs()">
      <span>Retrieve Docs</span></a>
    <document-list docs="$ctrl.stageDocs" state="'loadstage.docdisp'" options="$ctrl.doclistOptions" on-remove="$ctrl.removeDoc(index)" on-select="$ctrl.docSelected(index)" select-index="$ctrl.selectedIndex">
    </document-list>

  </sidebar>

  <div class="main_container">
    <p>
      <label>Excel File:
         <input type="file" files-input onchange="$ctrl.fileChange(event);" ng-model="$ctrl.storageDir">
      </label>
      <a class="btn btn-primary" ng-click="$ctrl.setStorageDir()">
        <span>Set</span></a>Storage: {{showStorage($ctrl.storageDir)}}
      <span class="pull-right" ng-show="$ctrl.isSelectedSaved()">SAVED!</span></p>
    <p>
      <a class="btn btn-primary" ng-click="$ctrl.setStageDir()">
        <span>Set</span></a>Stage: {{$ctrl.stageDir}}
      <span class="pull-right" ng-show="$ctrl.isSelectedStaged()">STAGED!</span>
      <a class="btn btn-primary" ng-show="$ctrl.isSelectedSaved()" ng-click="$ctrl.stageCurrent()"><span>Stage</span></a></p>

    <hr class="style-one"></hr>
    <div class="box" ui-view on-save="$ctrl.documentSaved(document)" on-delete="$ctrl.onDelete(document)">
    </div>
  </div>
</div>
