@import url(https://fonts.googleapis.com/css?family=Roboto);
body {
  font-family: 'Roboto', sans-serif;
}

span.glyphicon {
  height: 24px;
  width: 24px;
  color: black;
  font-weight: bold;
}

.title {
  font-size: 2.5em;
  text-align: center;
}

.box {
  width: 100%;
  min-height: 150px;
}


/*  Side tree view */
.dark_blue, .main_container {
  padding: 1em;
  box-sizing: border-box;
}

.main_container {
  width: 100%;
  height: 100%;
}

.dark_blue {
  padding-right: 0;
  background-color: #2A457A;
  color: #efefef;
  width: 300px;
  height: 100%;
  position: absolute;
  -webkit-transform: translate(-275px, 0);
  transform: translate(-275px, 0);
  transition: transform 0.3s ease;
}

.dark_blue.open {
  -webkit-transform: translate(0,0);
  transform: translate(0, 0);
}

.side-button {
  background-color: #2A457A;
  border-color: #099DD9;
  padding-right: 0;
  padding-left: 0;
  height: 100%;
}

.side-button-icon {
  color: white;
}

.outline-box {
  height: 100%;
  overflow:scroll;
}

.light_blue {
  background-color: #099DD9;
}

.green {
  background-color: #0C8542;
}

.lime {
  background-color: rgb(179, 210, 52);
}

.seafoam {
  background-color: rgb(77, 190, 161);
}

.red {
  background-color: #EC1D3B;
}

.orange {
  background-color: #F79420;
}
.light_gray {
  background-color: #CCCCCC;
}


/*
These are the responsive styles. Throw some breakpoints in here!
*/

.box {
  width: 100%;
}

@media screen and (min-width: 600px) {
  .dark_blue {
    poition: relative;
    transform: translate(0, 0);
  }
  .side-button {
     display: none;
  }

  .view_container {
    display: flex;
    flex-flow: row nowrap;
  }
  .main_container {
    width: auto;
    flex-grow: 1;
  }
}
