<div class="view_container">
  <subapp-navbar name="Flex Box play" state="flexbox_play">
     <subapp-nav action="cb1()">Callback 1</subapp-nav>
     <subapp-nav action="cb2()">Callback 2</subapp-nav>
  </subapp-navbar>
  <div class="dark_blue" ng-class="{ open: isSideOpen }">
    <button type="button" class="pull-right side-button" uib-tooltip="Open Tree" ng-click="toggleSide()">
      <span  ng-hide="isSideOpen" class="glyphicon glyphicon-menu-right fa-lg side-button-icon" ></span>
      <span  ng-show="isSideOpen" class="glyphicon glyphicon-menu-left fa-lg side-button-icon" ></span>
    </button>
    <div class="outline-box">

    <ul>
      <li>Item One</li>
      <ul><li>item one-one</li><li>item one-two</li></ul>
      <li>Item One</li>
      <li>Item One</li>
      <li>Item One</li>
      <li>Item One</li>
      <li>Item One</li>
      <li>Item One</li>
      <li>Item One</li>
      <li>Item One</li>
      <li>Item One</li>
      <li>Item One</li>
      <li>Item One</li>
      <li>Item One</li>
      <li>Item One</li>
      <li>Item One</li>
      <li>Item One</li>
      <li>Item One</li>
      <li>Item One</li>
      <li>Item One</li>
      <li>Item One</li>
      <li>Item One</li>
      <li>Item One</li>
      <li>Item One</li>
      <li>Item One</li>
      <li>Item One</li>
      <li>Item One</li>
      <li>Item One</li>
      <li>Item One</li>
      <li>Item One</li>
      <li>Item One</li>
      <li>Item One</li>
      <li>Item One</li>
      <li>Item One</li>
      <li>Item One</li>
      <li>Item One</li>
      <li>Item One</li>
      <li>Item One</li>
      <li>Item One</li>
      <li>Item One</li>
      <li>Item One</li>
      <li>Item One</li>
      <li>Item One</li>
      <li>Item One</li>
      <li>Item One</li>
      <li>Item One</li>
      <li>Item One</li>
      <li>Item One</li>
      <li>Item One</li>
      <li>Item One</li>
      <li>Item One</li>
      <li>Item One</li>
      <li>Item One</li>
      <li>Item One</li>
      <li>Item One</li>
      <li>Item One</li>
      <li>Item One</li>
      <li>Item One</li>
      <li>Item One</li>
      <li>Item One</li>
      <li>Item One</li>
      <li>Item One</li>
      <li>Item One</li>
      <li>Item One</li>
      <li>Item One</li>
      <li>Item One</li>
      <li>Item One</li>
      <li>Item One</li>
      <li>Item One</li>
      <li>Item One</li>
      <li>Item One</li>
      <li>Item One</li>
      <li>Item One</li>
      <li>Item One</li>
      <li>Item One</li>
      <li>Item One</li>
      <li>Item One</li>
      <li>Item One</li>
      <li>Item One</li>
      <li>Item One</li>
      <li>Item One</li>
      <li>Item One</li>
      <li>Item One</li>
      <li>Item One</li>
      <li>Item One</li>
      <li>Item One</li>
      <li>Item One</li>
      <li>Item One</li>
      <li>Item One</li>
      <li>Item One</li>
    </ul>
    </div>

  </div>
  <div class="main_container">
    <a id="menu" class="pull-right" ng-click="toggleSide()">>
       <svg xmlns="http://www.w3.org/2000/svg" height="24px"  widht="24px" viewBox="0 0 24 24">
         <path d="M2 6h20v3H2zm0 5h20v3H2zm0 5h20v3H2z"/>
        </svg>
    </a>
    <div class="box light_blue"></div>
    <div class="box green"></div>
    <div class="box red"></div>
    <div class="box orange"></div>
  </div>
</div>
