<div class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="$ctrl.isCollapsed = !$ctrl.isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">WB Home</a>
    </div>
    <div uib-collapse="$ctrl.isCollapsed" class="navbar-collapse collapse" id="navbar-main">
    <ul class="nav navbar-nav">

      <li class="dropdown" uib-dropdown>
        <a class="dropdown-toggle" uib-dropdown-toggle href="#">Doctor Who
       <span class="caret"></span></a>

        <ul class="dropdown-menu" uib-dropdown-menu role="menu">
          <li role="menuitem"><a ui-sref="bfGrid">Big Finish Grid</a></li>
          <li role="menuitem"><a ui-sref="bftree">Big Finish Tree</a></li>
          <li role="menuitem"><a ui-sref="drwhoTree">Doctor Who Videos</a></li>
          <li role="menuitem"><a ui-sref="spGridExample">Sprite Grid Example</a></li>
        </ul>
      </li>

      <li class="dropdown" uib-dropdown>
        <a class="dropdown-toggle" uib-dropdown-toggle href="#">Cards
     <span class="caret"></span></a>

        <ul class="dropdown-menu" uib-dropdown-menu role="menu">
          <li role="menuitem"><a ui-sref="cardCommon">All Cards</a></li>
          <li role="menuitem"><a ui-sref="gdriveIdTable">Show new files from G-Drive</a></li>
          <li role="menuitem"><a ui-sref="carddirs">Update SS Cards</a></li>
        </ul>
      </li>

      <li class="dropdown" uib-dropdown>
        <a class="dropdown-toggle" uib-dropdown-toggle href="#">Docs / Music
   <span class="caret"></span></a>

        <ul class="dropdown-menu" uib-dropdown-menu role="menu">
          <li role="menuitem"><a ui-sref="myMusic">My Music</a></li>
          <li role="menuitem"><a ui-sref="c2tree">C2 Documents</a></li>
          <li role="menuitem"><a ui-sref="techBooks">Technical Books Catalog</a></li>
          <li role="menuitem"><a ui-sref="loadstage">Load Tech Books from Stage</a></li>
          <li role="menuitem"><a href="#">Ficton Books</a></li>
          <li role="menuitem"><a href="#">Audio Books</a></li>
        </ul>
      </li>

      <li class="dropdown" uib-dropdown>
        <a class="dropdown-toggle" uib-dropdown-toggle href="#">Misc
   <span class="caret"></span></a>

        <ul class="dropdown-menu" uib-dropdown-menu role="menu">
          <li role="menuitem"><a ui-sref="charityBag">Charity Bag</a></li>
          <li role="menuitem"><a href="https://keep.google.com/#LIST/1469801505248.1799915967">ToDo List</a></li>
          <li role="menuitem"><a href="http:gui_review.html">ADS GUI Catalog</a></li>
          <li role="menuitem"><a ui-sref="dirExplorer">Directory Explorer</a></li>
          <li role="menuitem"><a ui-sref="spsdb">SPS Requirements Filter</a></li>
        </ul>
      </li>
    </ul>
  </div>
  </div>
</div>
