<header class="hero-unit" id="banner">
  <div class="container">
    <h1 id="dhgreet">'Donde esta la casa de Pepe?</h1>
    <p id="intro" class="lead">This is my starter page!</p>

    <div class="panel panel-primary">
      <div class="panel panel-heading">FFG Work</div>
      <div class="panel-body">
        <ul class="nav nav-pills">
          <li><a office target="_blank" href="file://c:/Users/daniel.heaney/Documents/Frigate/ECP RFP/FFG ECP.pptx">Scratch Slide Deck</a>
          </li>
          <li><a office target="_blank" href="file://c:/Users/daniel.heaney/Documents/Frigate/FFG_POAM_dheaney.xlsx">POAM Spreadsheet</a>
          </li>
          <li class="active"><a target="_blank" href="http://127.0.0.1:9000/Frigate/ffg_notes.html">My FFG Notes</a>
          </li>
        </ul>
      </div>
    </div>


    <img src="assets/images/family.jpg" alt="The most important family">
    <div class="panel panel-primary">
      <div class="panel panel-heading">TAR Review</div>
      <div class="panel-body">
        <ul class="nav nav-pills">
          <li><a office target="_blank"
                href="file://c:/Users/daniel.heaney/Documents/Frigate TAR/ECP_FFG/Proposal/Index to Documents.xlsx">TAR Document Index</a>
          </li>
          <li><a office target="_blank"
            href="file://c:/Users/daniel.heaney/Documents/Frigate TAR/ECP_FFG/FWS ECP TAR Comment Spreadsheet_11192018_REBASELINE.xlsx">Re-Baseline Comments</a>
          </li>
          <li><a office target="_blank"
            href="file://c:/Users/daniel.heaney/Documents/Frigate TAR/Schedule Rebaseline/Base Contract 5136 Comment Spreadsheet_dheaney.xlsx">Re-baseline Base comments</a>
          </li>
          <li><a office target="_blank"
            href="file://c:/Users/daniel.heaney/Documents/Frigate TAR/ECP_FFG/Fact-Finding - FFG-ECP (08.15.2018) - Dalhgren.xlsx">Fact Finding Questions</a>
          </li>
          <li class="active"><a target="_blank"
            href="http://127.0.0.1:9000/Frigate TAR/ECP_FFG/TAR_tiddlyWiki.html">My Notes</a>
          </li>
        </ul>
      </div>
    </div>


    <label>Tor. URL:
         <input style="color:black;" type="text" ng-model="MnCtrl.searchUrl">
         <button class="btn btn-primary" ng-click="MnCtrl.getTorNumber(MnCtrl.searchUrl)">Convert</button>
         <button class="btn btn-primary" ng-click="MnCtrl.clearUrl()">Clear</button>
      </label>
    <br /> {{MnCtrl.torUrl}} <br />
    <button class="btn btn-primary" ng-click="MnCtrl.makeToast('Sample Message')">Toast</button>
    <button class="btn btn-primary" ng-click="MnCtrl.clearToast()">Clr Toast</button>
    <oauth-buttons></oauth-buttons>
    <button class="btn btn-primary" ng-print print-element-id="dhgreet"><i class="fa fa-print"></i> Print</button>
    <button class="btn btn-primary" ng-print preview="true" print-element-id="dhgreet"><i class="fa fa-print"></i> Print Preview</button>
    <button class="btn btn-primary" ng-click="MnCtrl.dummyConfirm()">Confirm?</button>
    <br />


  </div>
</header>
