<header class="hero-unit" id="banner">
  <div class="container">
    <h1 id="dhgreet">'Donde esta la casa de Pepe?</h1>
    <p id="intro" class="lead">This is my starter page!</p>
Example Controls:
<button class="btn btn-primary" ng-click="MnCtrl.makeToast('Sample Message')">Toast</button>
<button class="btn btn-primary" ng-click="MnCtrl.clearToast()">Clr Toast</button>

  <oauth-buttons></oauth-buttons>
    <button class="btn btn-primary" ng-print print-element-id="dhgreet"><i class="fa fa-print"></i> Print</button>
    <button class="btn btn-primary" ng-print preview="true" print-element-id="dhgreet"><i class="fa fa-print"></i> Print Preview</button>
    <button class="btn btn-primary" ng-click="MnCtrl.dummyConfirm()" >Confirm?</button>
    <br />
    <img src="assets/images/family.jpg" alt="The most important family">
  </div>
</header>
