
.render-cards @page {
  margin-left: 0.5in;
  margin-top:0.2in;
}

.render-cards .sizeit {
width: 225px;
  height: 321px;
}

.render-cards div#runhead {
  position: fixed;
  top: 0;
  right: 0;
}

.render-cards .cardpic {
  float:left;
  padding: 1px;
  width: 225px;
  height: 321px;
}

.render-cards .cardRow {
  float: left;
  clear:left;
  padding: 1px;
  width: 225px;
  height: 321px;
}

.render-cards .rotate {
  transform: rotate(-90deg) translateX(-321px);
  transform-origin: left top;
  width: 321px;
  height: 225px;
}
.render-cards .noPage {
  display: none;
}

.render-cards @media screen {
  .print-vis {
    display: none;
  }
  .page-break {
     display: none;
  }
}
.render-cards @media print {
  /* Style rules */
  .page-break {
     page-break-after: always;
  }
  .print-invis {
    display: none;
  }
  .print-vis {
    display: block;
  }
}

.render-cards select.form-control {
  background-color: BLACK;
  color: white;
}
.render-cards .cardDisplay {}
.render-cards .nav-label {
  color: white;
  vertical-align: middle;
  margin-top: 10px;
}
.render-cards .affix {
  top: 0;
  width: 100%;
}
.render-cards .affix + .container-fluid {
    padding-top: 70px;
}
