

    <nav class="navbar navbar-inverse print-invis" data-spy="affix" data-offset-top="1">
      <div class="container-fluid">
        <div class="navbar-header">
          <span class="navbar-brand">Card Catalog</span>
        </div>
        <ul class="nav navbar-nav">
          <li>
            <label class="nav-label" for="sel1">Type:</label>
          </li>
          <li>
            <select id="sel1" class="form-control" ng-model="$ctrl.myJSON" ng-options="item for item in $ctrl.jsonFiles" ng-change="$ctrl.loadSets();"></select>
          </li>
          <li>
            <label class="nav-label" for="sel2">Year/Set:</label>
          </li>
          <li>
            <select id="sel2" class="form-control" ng-model="$ctrl.mySet" ng-options="set.year for set in $ctrl.cardSets" ng-change="$ctrl.selYear();"></select>
          </li>
          <li><a ng-click="$ctrl.updateJson()">Update {{myJSON}}</a></li>
        </ul>
      </div>
    </nav>

    <div class="render-cards">

    <div id="runhead" class="print-vis">{{$ctrl.mySet.year}}</div>

    <div class="cardDisplay">
      <div ng-repeat="card in $ctrl.cards">

        <div ng-class="(($index % 3) == 0) ? 'cardRow' : 'cardpic'">
          <a ng-click="$ctrl.openLightboxModal($index)">
            <img id="card{{$index}}" ng-src="{{$ctrl.imageLink(card)}}" data-toggle="tooltip"
                  title="{{card.name}}" orientable />
            </a>
        </div>

      </div>
    </div>
  </div>
