<div>
  <div class="form-group">
    <label for="inputdefault">Doctor (1st-12th, War, None, Unknown):</label>
    <input class="form-control" id="inputdefault" type="text" ng-model="$ctrl.Doc">
  </div>
<dh-sprite-set config="doctorSpriteSpec.min.json" feat='$ctrl.Doc'></dh-sprite-set>
</div>

  <div>
  <div class="form-group">
    <label for="inputdefault">Featuring :</label>
    <input class="form-control" id="inputdefault" type="text" ng-model="$ctrl.Featuring">
  </div>
  <dh-sprite-set config="spriteSpec.min.json" feat='$ctrl.Featuring'></dh-sprite-set>
</div>

 <div>
 <div class="form-group">
    <label for="inputdefault"><br />Doctor (1st-12th, War, None, Unknown):</label>
    <input class="form-control" id="inputdefault" type="text" ng-model="$ctrl.blah">
  </div>
  <dh-sprite-set config="doctorSpriteSpec.min.json" feat='$ctrl.blah'></dh-doctors>
</div>

<table class="table">
  <tr ng-repeat="row in $ctrl.featureTable track by $index">
    <td ng-repeat="col in row track by $index">
        <dh-sprite-set config="spriteSpec.min.json" feat='col'></dh-sprite-set>
      {{col}}</td>
</tr>
</table>
<table class="table table-condensed">
  <thead><tr><td>Alias</td><td>Name</td><td>Sprite</td></tr></thead>
  <tr ng-repeat="(al, real) in $ctrl.aliases track by $index">
    <td>{{al}}</td>
    <td>{{real}}</td>
    <td>
        <dh-sprite-set config="spriteSpec.min.json" feat="real"></dh-sprite-set>
    </td>
</tr>
</table>



<pre class="code">{{ $ctrl.aliases | json }}</pre>
<pre class="code">{{ $ctrl.featureTable | json }}</pre>
