<div>
  <div class="form-group">
    <label for="inputdefault">Doctor (1st-12th, War, None, Unknown):</label>
    <input class="form-control" id="inputdefault" type="text" ng-model="SpriteGridExample.Doc">
  </div>
<dh-sprite-set config="doctorSpriteSpec.min.json" feat='SpriteGridExample.Doc'></dh-sprite-set>
</div>

  <div>
  <div class="form-group">
    <label for="inputdefault">Featuring :</label>
    <input class="form-control" id="inputdefault" type="text" ng-model="SpriteGridExample.Featuring">
  </div>
  <dh-sprite-set config="spriteSpec.min.json" feat='SpriteGridExample.Featuring'></dh-sprite-set>
</div>

 <div>
 <div class="form-group">
    <label for="inputdefault"><br />Doctor (1st-12th, War, None, Unknown):</label>
    <input class="form-control" id="inputdefault" type="text" ng-model="SpriteGridExample.blah">
  </div>
  <dh-sprite-set config="doctorSpriteSpec.min.json" feat='SpriteGridExample.blah'></dh-doctors>
</div>
