<div class="view_container">

  <div class="row light_gray">


    <div class="col-sm-12">Find IDS with String:
      <input type="text" ng-model="$ctrl.searchString" />
      <a class="btn btn-primary" ng-click="$ctrl.search()">
      Search</a>

    </div>

  </div>
  <ul>
    <li ng-hide="$ctrl.results.length">No Results!</li>
    <li ng-repeat="doc in $ctrl.results">
      <a office ng-href="{{ 'file:' + doc.dir + '/' + doc.doc }}" target="_blank">{{doc.dir}}/{{doc.doc}}</a>
    </li>
  </ul>
</div>
<hr />

<uib-tabset active="active">
  <uib-tab index="0" heading="ACB 20">

<uib-accordion>
  <div uib-accordion-group ng-repeat="(key, value) in $ctrl.b10ifs track by key">
    <uib-accordion-heading>
      {{key}}
    </uib-accordion-heading>
    <table>
      <tr ng-repeat="(intf, ids) in value track by $index">
        <td>{{intf}}</td>
        <td>{{ids}}</td>
        <td>
          <a class="btn btn-primary" ng-click="$ctrl.searchTerm(ids)">
              Search</a>
        </td>
      </tr>
    </table>
  </div>
</uib-accordion>
</uib-tab>
<uib-tab index="1" heading="FFG(X)">
  Not Defined Yet
</uib-tab>
</uib-tabset>
