<div>
  <h2>Publishers</h2>
  <table>
    <tr>
      <th>Publisher</th>
      <th></th>
    </tr>
    <tr ng-repeat="pub in $ctrl.publishers" ng-class>
      <td ng-class-odd="'stripeRow'">
        {{pub}}
      </td>
      <td ng-class-odd="'stripeRow'">
        <a  class="btn btn-primary" uib-tooltip="Delete Publisher" ng-click="$ctrl.deletePub(pub, $index)">
             <span class="glyphicon glyphicon-trash">&nbsp;</a>
      </td>
    </tr>
  </table>
  <a class="btn btn-primary" ng-click="$ctrl.newPublisher()">
    <span>New Publisher</span></a>
</div>
