<div class="container">

  <div class="row" style="background-color: dark-gray;">
    <div class="col-lg-4">
      <h2>Dr Who Videos by Doctor</h2>
    </div>
    <div class="col-lg-8" id="buttonBar">
      <a class="pull-right btn btn-primary" ng-click="$ctrl.showJSONstuff()">
        <span>Generate JSON</span></a>
      <a class="pull-right btn btn-primary" ng-click="$ctrl.backup()"><span>Backup to SVR</span></a>
      <a ng-show="$ctrl.showShow" class="btn btn-primary" ng-click="$ctrl.prevItem()"><span>&lt;&lt; Previous</span></a>
      <a ng-show="$ctrl.showShow" class="btn btn-primary" ng-click="$ctrl.nextItem()"><span>Next &gt;&gt;</span></a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-lg-4" style="height: 750px; overflow:scroll;">

          <!-- Nested list template -->
          <script type="text/ng-template" id="items_renderer.html">
            <div ui-tree-handle>
              <a class="btn btn-default btn-xs" data-nodrag ng-click="$ctrl.toggle(this)">
                <span class="glyphicon" ng-class="$ctrl.itemIcon(this)"></span></a>
              <span data-nodrag><a ng-click="$ctrl.itemSelect(this)" ng-class="$ctrl.selectedItemClass(this)">{{item.name}}</a></span>
              <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="$ctrl.sureRemove(this)">
                <span class="glyphicon glyphicon-remove"></span></a>
              <a class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="$ctrl.newSubItem(this)" style="margin-right: 8px;">
                <span class="glyphicon glyphicon-plus"></span></a>
            </div>
            <ol ui-tree-nodes data-collapsed="true" ng-model="item.items" ng-class="{hidden: collapsed}">
              <li ng-repeat="item in item.items" ui-tree-node ng-include="'items_renderer.html'">
              </li>
            </ol>
          </script>
          <div ui-tree>

            <a class="btn btn-primary btn-xs" ng-click="$ctrl.myCollapseAll(this)">
              <span>Collapse Tree</span></a>
            <a class="btn btn-primary btn-xs" ng-click="$ctrl.myExpandAll(this)">
              <span>Expand Tree</span></a>
            <a class="btn btn-primary btn-xs" ng-click="$ctrl.newDoctor(this)">
              <span>New Doctor</span></a>

            <ol ui-tree-nodes data-collapsed="true" ng-model="$ctrl.videoList">
              <li ng-repeat="item in $ctrl.videoList" ui-tree-node ng-include="'items_renderer.html'"></li>
            </ol>
          </div>
        </div>
        <div class="col-lg-8">
          <div ng-show="showJSON">
            <a class="btn btn-default btn-xs" ng-click="$ctrl.doneJSON()">
              <span>Done with JSON</span></a>

            <pre class="code">{{ $ctrl.videoList | json }}</pre>
          </div>
          <div id="response_pane">
            <div ng-hide="$ctrl.showShow">
              <h1>Select an Item from tree ...</h1></div>
            <div ng-show="$ctrl.showShow">
              <div class="checkbox">
                <label>
                  <input type="checkbox" ng-model="$ctrl.editMode">Edit Mode</label>
              </div>

              <div class="row">
                <div class="col-sm-6">
                  <span ng-show="$ctrl.editMode" class="lead">Title:  <input type="text" placeholder="Title" ng-model="$ctrl.selItem.name"></span>
                  <span ng-hide="$ctrl.editMode" class="lead">{{$ctrl.selItem.name}}</span>
                </div>
                <div class="col-sm-6">
                  <a ng-href="{{$ctrl.getDescrLink()}}" target="_blank"> <img ng-show="$ctrl.selItem.Image" ng-src="{{$ctrl.selItem.Image}}" style="float: right;" /></a>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div ng-show="$ctrl.editMode" class="form-group">
                    <label for="sel1">Doctor:</label>
                    <select class="form-control" id="sel1" ng-model="$ctrl.selItem.Doctor">
                      <option value="1st">1st W. Hartnell</option>
                      <option value="2nd">2nd P. Troughton</option>
                      <option value="3rd">3rd J. Pertwee</option>
                      <option value="4th">4th T. Baker</option>
                      <option value="5th">5th P. Davisson</option>
                      <option value="6th">6th C. Baker</option>
                      <option value="7th">7th S. McCoy</option>
                      <option value="8th">8th P. McGann</option>
                      <option value="9th">9th C. Eccleston</option>
                      <option value="10th">10th D. Tennant</option>
                      <option value="11th">11th M. Smith</option>
                      <option value="12th">12th P. Capaldi</option>
                      <option value="War">War J. Hurt</option>
                      <option value="Other">Other</option>
                      <option value="None">None</option>
                    </select>
                  </div>
                  <dh-sprite-set config="doctorSpriteSpec.min.json" feat='$ctrl.selItem.Doctor' dh-float="'left'"></dh-sprite-set>
                </div>
                <div class="col-sm-6">
                  <div ng-show="$ctrl.editMode" class="form-group">
                    <label for="inputdefault">Featuring (companions and enemies):</label>
                    <input class="form-control" id="inputdefault" type="text" ng-model="$ctrl.selItem.Featuring">
                  </div>
                  <p ng-hide="$ctrl.editMode">Featuring: {{selItem.Featuring}}</p>
                  <dh-sprite-set config="spriteSpec.min.json" feat='$ctrl.selItem.Featuring'></dh-sprite-set>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-3">
                  <div class="form-group">
                    <label for="inputdefault">Season:</label><span ng-hide="$ctrl.editMode">&nbsp;&nbsp;{{$ctrl.selItem.Season}}</span>
                    <input ng-show="$ctrl.editMode" class="form-control" id="inputdefault" type="text" ng-model="$ctrl.selItem.Season">
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label for="inputdefault">Number:</label><span ng-hide="$ctrl.editMode">&nbsp;&nbsp;{{$ctrl.selItem.Number}}</span>
                    <input ng-show="$ctrl.editMode" class="form-control" id="inputdefault" type="text" ng-model="$ctrl.selItem.Number">
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label for="relDate">Release Date:</label><span ng-hide="$ctrl.editMode">&nbsp;&nbsp;{{$ctrl.selItem.Released | date : 'MMM yyyy' }}</span>
                    <p ng-show="$ctrl.editMode" class="input-group">
                      <input id="relDate" type="text" class="form-control" uib-datepicker-popup="{{$ctrl.format}}" ng-model="$ctrl.selItem.Released" is-open="$ctrl.popup1.opened" datepicker-options="$ctrl.dateOptions" close-text="Close" />
                      <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-click="$ctrl.open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                    </p>
                  </div>

                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label for="inputdefault">Number of Episodes:</label><span ng-hide="$ctrl.editMode">&nbsp;&nbsp;{{$ctrl.selItem.Num_Episodes}}</span>
                    <input ng-show="$ctrl.editMode" class="form-control" id="inputdefault" type="text" ng-model="$ctrl.selItem.Num_Episodes">
                  </div>
                </div>
              </div>

              <div class="row" ng-show="$ctrl.editMode">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="inputdefault">Image URL:</label>
                    <input class="form-control" id="inputdefault" type="url" ng-model="$ctrl.selItem.Image">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="inputdefault">Description URL:</label>
                    <input class="form-control" id="inputdefault" type="url" ng-model="$ctrl.selItem.descrUrl">
                  </div>
                </div>
              </div>

              <div class="row" ng-show="$ctrl.editMode">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="inputdefault"> Server Path:</label>
                    <input class="form-control" id="inputdefault" type="text" ng-model="$ctrl.selItem.SPath">
                  </div>
                </div>
                <div class="col-sm-6 ">
                  <h2>Episodes:</h2>
                  <table class="episodeTable">
                    <tr>
                      <th>No.</th>
                      <th>Name</th>
                      <th>Filename</th>
                    </tr>
                    <tr ng-repeat="ep in $ctrl.selItem.episodes ">
                      <td center>{{$index + 1}}</td>
                        <td><input type="text " ng-model="ep.name "></td>
                        <td><input type="text " ng-model="ep.fname "></td>
                    </tr>
                  </table>
                  <a class="btn btn-primary btn-xs " ng-click="$ctrl.newEpisode() ">
                    <span>Add...</span></a>
                </div>
              </div>

              <div class="row" ng-show="$ctrl.selItem.episodes">
                <h2 ng-show="$ctrl.selItem.episodes.length">Episode Links:</h2>
                <ul ng-repeat="ep in $ctrl.selItem.episodes ">
                  <li>&nbsp;<a href="{{$ctrl.selItem.SPath}}/{{ep.fname}} " target="_blank ">
                  {{ep.name}}
                  </a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
