
.my-music table {
  border-collapse: collapse;
}

.my-music td {
  border: 2px solid #666;
}

.my-music .tableInput {
  margin: 0;
  padding: 0;
  display: block;
  width: 390px;
}
.my-music .tableYearInput {
  width: 70px;
}
.my-music th {
   border: 2px solid #666;
   background: CADETBLUE;
   margin: 5px;
   padding-right: 20px;
   padding-left: 20px;
}
.my-music th.control {
  border: none;
  background: white;
}
.my-music td.control {
  border: none;
}
.my-music td.namecol {
  width: 400px;
}

.my-music tr:hover {
  background: DARKKAHKI;
}

.my-music img.cover {
  padding: 1px;
  width: 100px;
  height: 100px;
}
