<subapp-navbar name="C2 Documents" state="c2tree">
  <subapp-nav class="nav navbar-nav" on-action="$ctrl.docAdd()">Add Document</subapp-nav>
  <subapp-nav class="nav navbar-nav" on-action="$ctrl.showJSONstuff()">Generate JSON</subapp-nav>
  <subapp-nav class="nav navbar-nav" on-action="$ctrl.commitChanges()">Commit Changes</subapp-nav>
  <subapp-nav class="nav navbar-nav" on-action="$ctrl.backup()">Backup</subapp-nav>
  <subapp-nav class="nav navbar-nav" on-action="$ctrl.flushLocal()">Flush Local</subapp-nav>
</subapp-navbar>
<div class="view_container">
  <sidebar>
    <!-- Nested list template -->
    <script type="text/ng-template" id="items_renderer.html">
      <div ui-tree-handle>
        <a class="btn btn-default btn-xs" data-nodrag ng-click="$ctrl.toggle(this)">
          <span class="glyphicon" ng-class="$ctrl.itemIcon(this)"></span></a>
        <span data-nodrag><a ng-click="$ctrl.itemSelect(this)" ng-class="$ctrl.selectedItemClass(this)">{{item.name}}</a></span>
        <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="$ctrl.sureRemove(this)">
          <span class="glyphicon glyphicon-remove"></span></a>
        <a class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="$ctrl.newSubItem(this)" style="margin-right: 8px;">
          <span class="glyphicon glyphicon-plus"></span></a>
      </div>
      <ol ui-tree-nodes="$ctrl.options" ng-model="item.items" ng-class="{hidden: collapsed}">
        <li ng-repeat="item in item.items" ui-tree-node ng-include="'items_renderer.html'">
        </li>
      </ol>
    </script>
    <div ui-tree="$ctrl.options">

      <a class="btn btn-primary btn-xs" ng-click="$ctrl.myCollapseAll()">
        <span>Collapse Tree</span></a>
      <a class="btn btn-primary btn-xs" ng-click="$ctrl.myExpandAll()">
        <span>Expand Tree</span></a>

      <ol ui-tree-nodes ng-model="$ctrl.list">
        <li ng-repeat="item in $ctrl.list track by $index" ui-tree-node data-nodrag data-collapsed="true" ng-include="'items_renderer.html'"></li>
      </ol>
    </div>

  </sidebar>
  <div class="main_container">
    <div ng-show="$ctrl.showJSON">
      <a class="btn btn-default btn-xs" ng-click="$ctrl.doneJSON()">
        <span>Done with JSON</span></a>

      <pre class="code">{{ $ctrl.list | json }}</pre>
    </div>
    <div id="response_pane">


      <div ng-hide="$ctrl.selItem">
        <h1>Select an Item from tree ...</h1></div>
      <div ng-show="$ctrl.selItem">
        <div ng-show="$ctrl.docs.length">
          <h1 ng-model="$ctrl.selItem">{{$ctrl.selItem.name}} Documents</h1>
          <table border="1" cellpadding="5" cellspacing="2" ng-model="$ctrl.docs">
            <thead>
              <tr>
                <th><b>Name</b></th>
                <th><b>Author</b></th>
                <th><b>Date</b></th>
              </tr>
            </thead>

            <tbody ng-repeat="doc in $ctrl.docs">
              <tr>
                <td>&nbsp;<a office href="{{doc.link}}" target="_blank">
                {{doc.name}}
              </a></td>
                <td>&nbsp;{{doc.author}}</td>
                <td>&nbsp;{{doc.date}}</td>
                <td>
                  <a class="btn btn-default btn-xs" ng-click="$ctrl.docUp($index)">
                    <span class="glyphicon glyphicon-arrow-up"></span></a>
                </td>
                <td>
                  <a class="btn btn-default btn-xs" ng-click="$ctrl.docDown($index)">
                    <span class="glyphicon glyphicon-arrow-down"></span></a>
                </td>
                <td>
                  <a class="btn btn-default btn-xs" ng-click="$ctrl.docEdit($index)">
                    <span class="glyphicon glyphicon-pencil"></span></a>
                </td>
                <td>
                  <a class="btn btn-default btn-xs" ng-click="$ctrl.docDel($index)">
                    <span class="glyphicon glyphicon-remove"></span></a>
                </td>

              </tr>
            </tbody>
          </table>
        </div>
        <div ng-hide="$ctrl.docs.length">
          <h2>No documents to show</h2></div>
      </div>
      <div ng-show="$ctrl.editDoc.name">
        <h3>Enter Document Information</h3>
        <table>
          <thead>
          <tr>
            <td>Title</td>
            <td>Author</td>
            <td>Date</td>
            <td>Link</td>
          </tr></thead>
          <tr>
            <td>
              <input ng-model="$ctrl.editDoc.name">
            </td>
            <td>
              <input ng-model="$ctrl.editDoc.author">
            </td>
            <td>
              <input ng-model="$ctrl.editDoc.date">

            </td>
            <td>
              <input ng-model="$ctrl.editDoc.link">
               <input type="file" files-input ng-model="$ctrl.editDoc.link">
            </td>
          </tr>
          <tr>
            <td class="control">&nbsp;</td>
            <td class="control">&nbsp;</td>
            <td class="control">&nbsp;</td>
            <td class="control">
              <button ng-click="$ctrl.docEditCancel()">Cancel</button> &nbsp;
              <button ng-click="$ctrl.docEditOK()">OK</button>
            </td>
          </tr>
        </table>
        <div>
        <label for="inputdefault">Scratch File/Path:</label>
        <input class="form-control" id="inputdefault" type="text" ng-model="$ctrl.xformPath">
<ul>
  <li>\\\NAEAMECHFS101V.nadsusea.nads.navy.mil\NAVSEA08$\DLGR_NAVSEA_Projects\FFG\</li>
  <li>C:\Users\daniel.heaney\Documents\Frigate</li>
</ul>
        </div>
      </div>
    </div>
  </div>
</div>
